/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Nanum+Brush+Script&family=Permanent+Marker&family=Rock+Salt&display=swap');


body{
    background: rgb(24,24,24);
}

.board3x3{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    width:80%;
    background: black;
}

.board4x4{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    width:80%;
    background: black;
}


h2{
    color: #AAF0D1;
    font-weight: bold;
    font-family: 'Finger Paint', cursive;
    font-size: 45px;
    width:120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
   
}

p{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 50px;
    width:520px;
    margin-left: auto;
    margin-right: auto;
}

/* Rows ...........................................................*/

#header{
    background: rgb(16,16,16);
    color: #FFCC33;
    height: 100px;
}

#header > h1{
    width:460px;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#row1,#row4,#img1{
    height: 400px;
}


#row2{
    height:100px;
}

#row3,#row5,#row6{
    height: 100px;
  }

#row7{
    margin-top: 50px;
    color: #CCFF00;
}

#row8{
    margin-top: 90px;
    color: #CCFF00;
}

/* 3x3 ..............................................................*/
.cell{
    font-family: 'Finger Paint', cursive;
    color: #50BFE6;
    border: 4px solid rgb(182, 182, 182);
    border-radius: 10px;
    height: 110px;
    width: 110px;
    text-align: center;
    vertical-align: middle;
    font-size: 65px;
    cursor: pointer;
}

#grid3x3{
    width:400px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}


#table3{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: -30px;
}

/* 4x4 .............................................................*/
.block{
    font-family: 'Finger Paint', cursive;
    color: #FF9933;
    border: 4px solid rgb(182, 182, 182);
    border-radius: 10px;
    height: 90px;
    width: 90px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    cursor: pointer;
}

#grid4x4{
    width:400px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}

#table4{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -20px;
}

table{
    border-collapse: collapse;
    position: absolute;
}

.cell:hover{
    cursor: pointer;
    background-color: #312626a2;
}

.block:hover{
    cursor: pointer;
    background-color: #312626a2;
}

table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}

table tr td:first-child{
    border-left: 0;
}

table tr td:last-child{
    border-right: 0;
}


/* Buttons .........................................................*/

#timeline3{
    display: none;
}

#guided3x3{
    display: none;
    background-color: red;
}

#guidedp1{
    display: none;
}

#guidedp2{
    display: none;
}

#timeline4{
    display: none;
}

.ResetButton{
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height: 48px;
}

#reset{
    margin-top: 10px;
    font-family: 'Rock Salt', cursive;
    position: absolute;
    text-align: center;
    background-color: #f10707;
    width: 150px;
    border-radius: 25px;
    border: 3px solid black;
    padding: 10px;
    outline:none;
    cursor: pointer;
}

#guidedp1p2 li{
    color:black;
    font-family: 'Rock Salt', cursive;
    float: left;
    list-style: none;
    text-align: center;
    background-color: aquamarine;
    width: 200px;
    border-radius: 25px;
    border:5px solid black;
    padding: 10px;
    cursor: pointer;
}

#guidedp1p2{
    width:450px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}

#buttons3x3 li{
    color:black;
    font-family: 'Rock Salt', cursive;
    float: left;
    list-style: none;
    text-align: center;
    background-color: aquamarine;
    width: 170px;
    border-radius: 25px;
    border:5px solid black;
    padding: 10px;
    cursor: pointer;
}

#buttons3x3{
    width:400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#buttons4x4 li{
    color:black;
    font-family: 'Rock Salt', cursive;
    float: left;
    list-style: none;
    text-align: center;
    background-color: aquamarine;
    width: 170px;
    border-radius: 25px;
    border:5px solid black;
    padding: 10px;
    cursor: pointer;
}

#buttons4x4{
    width:400px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}

/* DepthButtons ..................................................*/

#depth{
    margin-top: 40px;
    width:800px;
    margin-left: auto;
    margin-right: auto;
    display:none;
}

#d1,#d2,#d3,#d4,#unlimited{
    font-family: 'Rock Salt', cursive;
    float: left;
    list-style: none;
    text-align: center;
    background-color: aquamarine;
    width: 102px;
    padding: 10px;
    cursor: pointer;
}

#d0{
    float: left;
    list-style: none;
    text-align: center;
    padding-right: 30px;
    background-color: black;
    color:yellow;
    font-size: 25px;
    font-family: 'Finger Paint', cursive;
}

#d1,#d2,#d3,#d4{
    border-right: 8px solid black;
}

#d1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#unlimited{
    background: #FF0000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* footer .....................................................*/
footer{
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
    height: 100px;
    background: rgb(16,16,16);
}

footer >p{
    font-size: 20px;
}


/* Message boxes............................................. */
.Message {
    width:30%;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 35px;
    text-align: justify;
    background-color: rgba(56, 55, 55, 0.61);
    color: white;
    position: absolute;
    z-index: 10;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 1s;
  }

.Message2 {
    width:30%;
    margin-top: 100px;
    margin-left: 68%;
    padding: 30px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 35px;
    text-align: justify;
    background-color: rgba(56, 55, 55, 0.61);
    color: white;
    position: absolute;
    z-index: 10;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: 1s;
}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .closebtn:hover {
    color: red;
  }

  #important{
      color: yellow;
  }